.home-container {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    background: rgb(55, 52, 52);
    background-size: center; 
    height: 100vh; 
    width: 100%; 
    margin: 0 auto;
    padding: 0;

    
}
.home-photo > img {
    position: relative;
    left: 920px;
    bottom: 370px;
    height: 350px;
    border-radius: 50%;
    padding: 10px;
    /* border: 2px solid black; */
    /* box-shadow: 12px 15px 10px #000; */
}
.welcome-message {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 55px;
    left: 277px;
}


.welcome-message > section {
    font-size: 2.5em;
    font-family: 'lato', sans-serif;
    color: #fff;
}
.welcome-message > p {
    font-size: 1.5em;
    font-family: 'Yellowtail', cursive;
    color: goldenrod;
    text-transform: capitalize;
}
.service  {
    position: relative;
    top: 55px;
    left: 250px;
    color: #fff;
    font-family: 'Julius Sans One', sans-serif;
    list-style: none;
    line-height: 5em;
    font-size: 1.1em;
}