
.nav-bar {
    background: #2110E2;
    height: 70px;
    width: 100%;
    font-size: .8em;
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    
}
.below-container {
    background: #6372c7;
    height: 40px;
    width: 100%;
    

}
.nav-items {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}
.list {
    list-style: none;
    text-decoration: none;
    color:rgb(226, 25, 25);
    font-family: 'Julius Sans One', sans-serif;
    /* font-weight: 500; */
}

.navbar-text {
    color: #fff;
    font-family: 'Julius Sans One', sans-serif;
    position: relative;
    left: -300px;
    bottom: -5px;

}

.icon-container {
    margin: 0 auto;
}

.user-icon > h4 {
    color: #fff;
    /* font-family: 'Julius Sans One', sans-serif; */
    position: relative;
    right: -240px;
}

.fa-shopping-cart {
    position: relative;
    color: #fff;
    right: -330px;
    bottom: 60px;
}
.fa-user-circle {
    position: relative;
    color: #fff;
    right: -300px;
    bottom: 38px;
    

}
