
.nav-bar {
    background: #2110E2;
    height: 70px;
    width: 100%;
    font-size: .8em;
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    
}

.navbar-text {
    color: #fff;
    font-family: 'Julius Sans One', sans-serif;
    position: relative;
    left: -300px;
    bottom: -5px;

}

.icon-container {
    margin: 0 auto;
}

.logo-container {

}
.user-icon > h4 {
    color: #fff;
    /* font-family: 'Julius Sans One', sans-serif; */
    position: relative;
    right: -240px;
    

}
.fa-shopping-cart {
    position: relative;
    color: #fff;
    right: -330px;
    bottom: 60px;
}
.fa-user-circle {
    position: relative;
    color: #fff;
    right: -290px;
    bottom: 38px;
    

}
